{{!< default}}
{{!-- The tag above means: insert everytfrddddd099999ohing in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
    <style type="text/css">
        .responsive-header-img {
            background-color: white;
            background-size: cover;
            background-image: url(https://datosorg.co/otros/background_home.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
        }

        @media(max-width: 1000px) {
            .responsive-header-img {
                background-image: url(https://datosorg.co/otros/background_home.svg);
                background-image: -webkit-image-set(url(https://datosorg.co/otros/background_home.svg) 1x,
                        url(https://datosorg.co/otros/background_home.svg) 2x);
                background-image: image-set(url(https://datosorg.co/otros/background_home.svg) 1x,
                        url(https://datosorg.co/otros/background_home.svg) 2x);
            }
        }

        @media(max-width: 600px) {
            .responsive-header-img {
                background-image: url(https://datosorg.co/otros/background_home.svg);
                background-image: -webkit-image-set(url(https://datosorg.co/otros/background_home.svg) 1x,
                        url(https://datosorg.co/otros/background_home.svg) 2x);
                background-image: image-set(url(https://datosorg.co/otros/background_home.svg) 1x,
                        url(https://datosorg.co/otros/background_home.svg) 2x);
            }
        }

        .site-home-header .site-description {
            font-size: 2.2rem;
            font-weight: 300;
        }

        .site-description2 {
            color: #444444 z-index: 10;
            margin: 0 150px;
            padding: 5px 0;
            font-size: 2.1rem;
            line-height: 1.4em;
            font-weight: 400;
            opacity: .8;
            min-width: 190px;
        }

        .features-area {
            background-color: #f4f6f7;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .features-area2 {
            background-color: #fff;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .title {
            box-sizing: border-box;
            color: rgb(18, 18, 18);
            font-family: poppins, sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 35px;
            text-align: center;
        }

        .section-title .text {
            font-size: 16px;
            line-height: 24px;
            color: #6c6c6c;
            margin-top: 24px;
        }

        .beneficio {
            padding: 10px;
            margin: 10px;
            width: 93%;
            border-radius: 5px;
            border: 1px solid #6c6c6c;
            color: #444444;
            font-size: 12pt;
            text-align: center;
        }

        @media (prefers-color-scheme: dark) {
            body {
                :: body {
                    : : background: #fff !important;
                    distinct background: #fff !important;
                }
            }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <div class="outer responsive-header-img">

        <div class="inner">

            <div class="site-header-content">
                <h2 class="site-description2" align="center">
                    Iniciativa
                </h2>
                <h1 class="site-title">
                    <img class="site-logo" src="/otros/DatosOrg.png" alt="{{@site.title}}" />
                </h1>
                <h2 class="site-description2" align="center">
                    Datos abiertos, herramientas y apoyo profesional
                    para entidades sin ánimo de lucro.
                </h2>
                <p>
                    <a class="boton" href="#estoy-interesado">Estoy interesado&nbsp;&nbsp;&nbsp;&nbsp;></a>
                </p>
            </div>
        </div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <section id="services" class="features-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">¿Por qué DatosOrg?</h3>
                        <p class="text">
                            Las entidades que desarrollan actividades humanitarias,
                            sociales y sin fines de lucro en general dependen de los datos
                            para cumplir sus objetivos.
                            Compartir datos abiertos entre pares permite entre otras cosas:
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <img src="otros/doc.svg" align="right"/>
                </div>-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="beneficio">Disponer de datos de la comunidad</div>
                    <div class="beneficio">Publicar datos para aumentar visibilidad y alcance</div>
                    <div class="beneficio">Reducir costos en TI</div>
                    <div class="beneficio">Obtener patrocinio</div>
                    <div class="beneficio">Recibir voluntariado</div>
                    <div class="beneficio">Crear alianzas con otras entidades</div>
                    <div class="beneficio">Crear valor social</div>
                    <div class="section-title text-center pb-10">
                        <p class="text">
                            En DatosOrg Reuniremos, almacenaremos y procesaremos datos abiertos para la sociedad
                            colombiana.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="features-area2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Estado del proyecto</h3>
                        <p class="text">
                            Nos encontramos en etapa de validación de nuestra idea.
                            Estamos abiertos a la participación de socios externos y a
                            nuestra presentación a muchas fuentes de financiación.
                            Si estás en una entidad sin ánimo de lucro apoyanos llenando
                            la siguiente encuesta de caracterización:
                        </p><br />
                        <a href="#" class="beneficio">
                            Encuesta para entidades <br />
                            sin ánimo de lucro
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="features-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Contáctanos</h3>
                        <p class="text">
                            Teléfono celular: (+57) 3003622440<br />
                            WhatsApp: <a href="https://wa.me/573003622440">wa.me/573003622440</a><br />
                            Email: <a href="mailto:datosorg@datosorg.co">datosorg@datosorg.co</a><br />
                            Bogotá, Colombia<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="inner posts">

        <div class="post-feed">
            {{#foreach posts}}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>

{{> site-nav}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}